@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --red: #9b3a4c;
  --blue: #0075ac;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
}

.banner {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 200px;
  color: #dddddd;
  font-family: "Berkshire Swash", "Times New Roman", Times, serif;
  font-weight: 100;
  background-image: url("./images/summer-cocktails.jpg");
  background-size: cover;
  background-position: center;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0095db70;
}

.banner h1 {
  margin-bottom: 0.1em;
  font-size: 40px;
  z-index: 2;
}

.banner h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.search {
  display: flex;
  width: 275px;
  margin: 10px auto;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  overflow: hidden;
}

#search-input {
  text-decoration: none;
  border: none;
  padding: 10px 0 10px 1em;
  width: 100%;
  outline: none;
}

#search-btn {
  width: 36px;
  flex-shrink: 0;
  color: white;
  background-color: var(--red);
  border: none;
  cursor: pointer;
}

i {
  pointer-events: none;
}

#results___text {
  position: relative;
  text-align: center;
  margin: 1em auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

#results___text.no-results {
  color: var(--red);
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 300px);
  place-content: center;
  place-items: center;
  width: 90%;
  margin: auto auto 5em auto;
  gap: 2em;
}

.recipe___card-container {
  width: 250px;
  height: 300px;
  perspective: 1000px;
}

.recipe___card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.rotateY {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

.removeRotateY {
  transform: translateY(180deg);
}

/* Position the front and back side */
.recipe___card-front,
.recipe___card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.recipe___card-front {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe___card-front img {
  width: 100%;
  height: 180%;
  object-fit: cover;
}

.recipe___card-back {
  position: relative;
  background-color: var(--blue);
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.recipe___card-name {
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: center;
}

.recipe___card-name p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem;
  place-self: center;
}

.recipe___exit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px;
  border-radius: 0.5em;
  border: none;
  font-size: 1rem;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.recipe___card-back p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 1em;
  margin: 0 25px 0 5px;
  line-height: 1.5em;
}

.recipe___card-back ul {
  margin-left: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.recipe___card-back p:last-child {
  padding-bottom: 1.5em;
}

.recipe___button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  border: none;
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: var(--red);
  opacity: 1;
  transition: opacity 0.25s ease-in;
  cursor: pointer;
}


@media (hover: hover) {
  .recipe___button button {
    opacity: 0;
  }
}

@media (min-width: 650px) {
  .recipe___button {
    opacity: 0;
  }

  .recipe___card:hover .recipe___button {
    opacity: 1;
  }
  
}

@media (min-width: 800px) {
  .banner {
    height: 300px;
  }

  .search {
    width: 450px;
  }

  .banner h1 {
    font-size: 70px;
  }
}

@media only screen and (min-width: 1275px) {
  .recipes {
    grid-template-columns: repeat(4, 250px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .recipe___card {
    transition: transform 0s;
  }

  .recipe___button button {
    opacity: 1;
    transition: opacity 0s;
  }

  .recipe___card-container:hover {
    transform: scale(1);
  }
}
